{% load static %}
<div class='d-block d-lg-none'>
<footer class="d-flex" style='background-color:orange;'>  
    <div class="soc">
        <ul>
            <li><a href="https://twitter.com/@RafatShabri" target="_blank"><img class='socimg' src="{% static 'media/twit.png' %}" alt=""></a></li>
            <li><a href="https://wa.me/message/J2BMS5IZY7TGP1" target="_blank"><img class='socimg' src="{% static 'media/whatsapp.jpg' %}" alt=""></a></li>
            <li><a href="mailto:aliarafatyassin@gmai.com" target="_blank"><img class='socimg' src="{% static 'media/email.jpg' %}" alt=""></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100063919308777" target="_blank"><img class='socimg' src="{% static 'media/facebook.png' %}" alt=""></a></li>
            <li><a href="https://youtube.com/channel/UCxqbHbMvmue0Q4CS_LENPgQ" target="_blank"><img class='socimg' src="{% static 'media/you1.png' %}" alt=""></a></li>
        </ul>
    </div>
    <div class="foott mt-7">
        <div id="foottrow">
            <div class="row w-100 row-cols-1 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 justify-content-center">
                <div class="col col-lg-3">
                    <h5 id="foottcol">
                        Health and fitness
                    </h5>
                    <div class="foottpa">
                        <div><center>
                            <p>Hello  hello I love coding <br>
                                Hello world, Arafat<br>
                                Ali Arafat<br>
                                Hello world, Arafat<br>
                                Ali Arafat
                            </p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <h5 id="foottcol">
                        Web Development services
                    </h5>
                    <div class="foottpa">
                        <div><center>
                            <p>Hello  hello I love coding <br>
                                Hello world, Arafat<br>
                                Ali Arafat<br>
                                Hello world, Arafat<br>
                                Ali Arafat
                            </p>
                            </center>
                        </div>
                    </div>
                    </div>
                <div class="col col-lg-3" id="">
                    <h5 id="foottcol">
                        Survey services
                    </h5>
                    <div class="foottpa">
                        <div><center>
                            <p>Land Registration <br>
                                Genuine Documentation<br>
                                Site plan<br>
                                General survey<br>
                                Map production
                            </p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
</div>